/*	$imagePath: "http://localhost:8888/chsilverman/admissions-starter/assets/images/"; */
	$imagePath: "http://collegerelationsweb.vassar.edu/congrats2/assets/images/";


@import "mixins/mixins";
@import "mixins/congrats-mixins";
@import "_config";