@import "_imports";


/* .u-pageHome .u-Masthead__siteName {
	display: none;
} */

@media all {
	.u-lContent,
	.u-lHeader {
		padding: 3%;
		padding-bottom: 2%;
	}
	.u-lFooter {
		padding: 4%;
	}
	.u-List--site,
	.u-VCard__info {
		margin: 0;
		padding: 0;
	}
	.u-VCard__info,
	.u-List--site {
		position: relative;
		margin-top: .25em;
	}
	.u-Masthead__siteName {
		margin-top: 6rem;
	}
}
@media all and (min-width: $small) {
	.u-Masthead__siteName {
		margin-top: 4rem;
	}
	.u-NavSite {
		padding: 4% 3%;
		padding-right: 2%;
	}
	.u-lMain {
		padding: 4% 3%;
		padding-left: 2%;
	}
}
@media all and (min-width: $medium) {
	.u-Masthead__siteName {
		margin-top: 0;
	}
}
@media all and (min-width: $large) {
	.u-Search {
		top: 2.2em;
		right: 2.8%;
		width: 21.85%;
	}
	.u-lContent {
		padding: 0;
		padding-right: 3%;
	}
	.u-Masthead__siteName {
		margin-top: 0;
	}
}



/*	Modules
	------- */

.u-lAside .Module {
	padding: 0;
}
.Module--sidebar .Module__listItem {
	padding: 0 0 .2em 0;
}
.u-lAside .Module--sidebar .Module__name {
	margin-bottom: .6em;
}


/*	Footer
	------ */

.u-VCard--site .org {
	display: block;
	margin-bottom: .25em;
	font-size: 1.2em;
}


/*	Masthead
	-------- */

.u-Masthead__siteName {
	margin-left: -.15em;
}
@media all and (min-width: $small) {
	.u-Masthead__vassar {
		position: relative;
		margin-top: -.5em;
	}
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

