@import "imports";

.u-lContent {
	font-size: inherit;
}
p {
	font: 1em/1.4 $serif;
}
.intro {
	font-size: 1.1em;
}
.intro:first-letter {
	float: left;
	font-size: 4em;
	padding-right: 8px;
	color: #480;
	line-height: .8;
	margin-bottom: .125em;
}
blockquote, li, td {
	font: 1em/1.34 $sans-serif;
	@include v-pixel-fallback("font-weight", .96rem);
}
h2 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0;
	line-height: 1.2;
}
h2, h3, h4, h5, h6 {
	margin-bottom: .5em;
}
.u-lContent {
	h3 {
		margin-bottom: .75em;
	}
}
h4 {
	font-style: italic;
	font-weight: normal;
	font-size: 1.1em;
}
h5 {
	text-transform: uppercase;
	font-size: .9em;
	letter-spacing: 2px;
}
h6 {
	font-size: .8em;
}


/*	Masthead
	-------- */

.u-Masthead__siteName--link {
	font-family: P22-underground;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 2em;
}
.u-Masthead__vassar--link {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
}


/*	Captions
	-------- */

.u-Figure__caption {
	font: normal .8em Lato;
	line-height: 1.3;
	color: #777;
}



/*	News
	---- */

.u-ArticleListItem__title {
	margin-bottom: .15em;
}
.u-ArticleListItem {
	margin-bottom: 0;
}
.u-NewsTools h4,
.u-NewsContact h4 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font: bold .8em/1.1 $sans-serif;
	font-style: normal;
}



/*	Side Modules
	------------ */

.u-lAside {
	.Module {
		overflow: hidden;
		margin-bottom: .7em;
	}
	.Module__header {
		position: relative;
		text-transform: uppercase;
		font-size: .8em;
		letter-spacing: 2px;
		margin-bottom: .6em;
	}
	/*	This should be in config, but
		the config variable isn't working */
	
	.Module--sidebar .Module__name {
		font: bold .9em $sans-serif;
	}
	.Module--sidebar .Module__listItem:last-of-type {
		margin-bottom: .5em;
	}
	.moreLink {
		font-size: .8em;
		font-weight: bold;
		float: right;
	}
}


/*	Main-area Modules
	----------------- */


.modulesArea {
 	a	{
		border-bottom: none;
	}
	.Module__header {
		font: bold 1.2em/1.1 $sans-serif;
	}
	.Module__headerLink {
		@include link-colors(
			$sidebarModule__header--linkColor, 
			$sidebarModule__header--linkColorHoverFocus, 
			$sidebarModule__header--linkColorActive, 
			$sidebarModule__header--linkColorVisited, 
			$sidebarModule__header--linkColorHoverFocus
		);
	}
	.Module__listItem:first-child, 
	.Module__listItem:first-of-type {
		border-top: none;
	}
	.Module__list {
		margin: 0;
		padding: 0;
	}
	.Module__listItem {
		border-top: $sidebarModule__listItem--border;
		list-style-type: none;
	}
	.Module__desc {
		display: block;
		text-align: left;
		width: auto;
		line-height: 1.2;
		font-weight: 400;
		color: #888;
		font-size: .85em;
		margin-top: .4em;
	}
	.Module__link {
		display: block;
	}
	.Module__label,
	.Module__link,
	.moreLink,
	.Module__title,
	.modulesArea b,
	.modulesArea p {
		@include v-pixel-fallback("font-size", 0.889rem);
	}
}



/*	Navigation
	---------- */

.u-NavSite__level {
	margin-bottom: .5em;
}
.u-NavSite__level--2 .u-NavSite__item {
	padding: .15em 0;
}
.u-NavSite__level--2 .u-NavSite__item {
	padding: .25em 0;
}
.u-NavSite__item--isCurrent {
	font-weight: bold !important;
	color: #030 !important;
}


/*	Footer
	------ */

.u-VCard--site .u-VCard__item, .u-VCard--site .u-VCard__info, .u-VCard--site .u-List--site, .u-VCard--site .u-List__item {
	@include v-pixel-fallback("font-size", .9rem);
}






















